
 * {
    box-sizing: border-box;
  }


#Content{
     width: 960px;
     color:black;
    
     text-align: center;
     background: #ffffffff
}
body{
    background-image: url("../images/leaves-pattern.png")
    
}
h1{
   background:#4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
p{
    padding: 20px
}
img{
    clear: both;
    width: 250px;
    height: 200px;
    float: left
}
#links{
    float: right;
    font-size: 125%;
}
header{ 

}

h2{
    color: #4aaaa5
}
#questionnaire{
    width: 960px;
    background: white;

}
footer{
    position: flex;
    color: whitesmoke;
    background:#666666;
    text-align: center
}
#portfolio{
    background: white;
}