
 * {
    box-sizing: border-box;
  }


#Content{
     width: 960px;
     color:black;
     text-align: center;
     background: #ffffffff;
     align-content: center
}
body{
    background-image: url("../images/leaves-pattern.png")
    
}
h1{
   background:#4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    width: 200px2
}
p{
    padding: 20px
}
img{
    width: 250px;
    height: 200px;
    float: left
}
#links{
    float: right;
    font-size: 125%;
}
header{ 

}

h2{
    color: #4aaaa5;
    font-size: 200%;
    border-bottom: 2px solid grey;
}
#questionnaire{
    width: 960px;
    background: white;

}
footer{
    position: flex;
    color: whitesmoke;
    background:#666666;
    text-align: center;
    clear: both;
}
#portfolio{
    background: white;
}
#hangman{
    float: left;
    clear: both;
}
#trivia{
    float: left;
    clear: both;
}
#rps
{
    float: left;
    clear: both;
}

#rpg{
    clear: right;
}
#infoWidget
{
    /* float: right; */
}