
 * {
    box-sizing: border-box;

  }


#content{
     width: 960px;
     color: red;
     border: green;
     border-width: 1px
     text-align: center

}
body{
    background-image: url("../images/leaves-pattern.png")
    
}
header{
   
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}